.background {
  background-color: bisque;
  background-image: url(../img/webp/Douane.webp);
  object-fit: cover;
  background-size: cover;
  background-position: center 80%;

  height: 500px;
}

html {
  overflow-x: hidden;
}
.backgroundimg {
  background-image: url(../img/icon/rectangle2.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5%;
}

.quote {
  font-style: italic;
}

.title {
  margin-left: 5%;
}

.param {
  font-size: 26px;
}

h2 {
  color: orange;
  font-weight: 700 !important;
}

#quote {
  color: #fee600;
}

strong {
  color: orange;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.space {
  background-color: #425fa2;
  height: 90px;
}

@media screen and (max-width: 415px) {
  p {
    font-size: 20px !important;
  }

  li {
    font-size: 20px !important;
  }
}
