html {
  overflow-x: hidden;
}

.space {
  background-image: url(../img/webp/green-mountains-wallpaper.webp);
  object-fit: cover;
  background-size: cover;
  background-position: center 40%;
  height: 200px;
}

.title {
  background-image: url(../img/icon/rectangle2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.parent {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: crimson;
}

.img {
  position: relative;
  top: 200px;
  width: 50px;
  height: 50px;
  background-color: cadetblue;
  border-radius: 50px;
}

.imgRounded {
  border-radius: 200px;
  transition: 0.25s;
}

.imgRounded:hover {
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
}

.borderMiddle {
  border-left: 5px solid #782f12;
}

.image {
  margin-bottom: 10%;
}

.image p {
  margin-top: 5% !important;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.txtleft {
  float: left;
}

.image img {
  margin-right: 5%;
}

.explicationRSE {
  font-size: 24px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-left: 10%;
}

h2 {
  font-size: 25px !important;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.spaceBlue {
  background-color: #425fa2;
  height: 90px;
}

#panneauxBg {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.infoEco {
  background-color: #2c3f6b;
  border-top: whitesmoke 1px solid;
  border-bottom: whitesmoke 1px solid;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  margin-bottom: 3rem;
}

.infoEco2 {
  background-color: #2c3f6b;
  border-top: whitesmoke 1px solid;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-bottom: whitesmoke 1px solid;
}

@media screen and (max-width: 767px) {
  .borderMiddle {
    border-left: none;
  }

  .image {
    padding-left: 0%;
    text-align: center;
  }

  .img-fluid {
    float: none;
  }

  .infoEco {
    margin-bottom: 0 !important;
    border-bottom: #2c3f6b 1px solid;
  }
  .infoEco2 {
    border-top: #2c3f6b 1px solid;
  }
  .explicationRSE {
    text-align: center;
    margin-left: 0px;
  }

  #EolienneBg {
    margin-top: 3rem;
  }
  #panneauxBg {
    margin-top: 3rem;
  }
  #eco {
    margin-top: 3rem;
  }
  #bio {
    margin-top: 3rem;
  }
  .explicationRSE {
    font-size: 20px !important;
  }
  * {
    overflow-x: hidden;
  }
}
