.background {
  background-color: bisque;
  background-image: url(../img/webp/stockageRack.webp);
  object-fit: cover;
  background-size: cover;
  height: 300px;
}

html {
  overflow-x: hidden;
}
.backgroundimg {
  background-image: url(../img/icon/rectangle2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.quote {
  font-style: italic;
}

.title {
  margin-left: 5%;
}

.param {
  font-size: 23px;
}

h2 {
  color: ghostwhite;
  background-image: url("../img/icon/rectangle2.svg");
  background-repeat: no-repeat;
}

#EntreposageBg {
  background-position: -35%;
}

#LogistiqueBg {
  background-position: -20%;
}
#portId {
  background-position: -40%;
}

#quote {
  color: #fee600;
}

strong {
  color: orange;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.space {
  background-color: #425fa2;
  height: 90px;
}

@media screen and (max-width: 415px) {
  p {
    font-size: 20px !important;
  }

  li {
    font-size: 20px !important;
  }
}
