html {
  overflow-x: hidden;
}

.square {
  height: 5vh;
  background-color: #5a81db;
}
.carousel-inner img {
  margin: auto;
  height: 350px;
  object-fit: cover;
}

.article-texte {
  font-size: 28px;
  margin-left: 5%;
  margin-right: 10%;
}

.photo-border {
  border: #f76125 2px solid;
  margin-left: 0px;
}

.photo {
  width: 50%;
  height: auto;
  padding: 50px;
}

.background {
  background-color: #425fa2;
}

h1 {
  color: ghostwhite;
  background-image: url("../img/icon/rectangle2.svg");
  background-repeat: no-repeat;
  background-position: left 20%;
}

h2 {
  color: #ffa045;
}

h1,
h2,
p {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#photo {
  margin-left: 5%;
}

.photo-rounded img {
  border-radius: 150px;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none !important;
}

h3 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.col-md-4 {
  padding: 0px !important;
}

.btnMenu {
  background-color: #5a81db;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 50px;
  transition: 0.5s;
}

.btnMenu:hover {
  background-color: #f76125;
}

.btnMenu {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quote {
  margin-left: 5%;
}

strong {
  color: #f76125;
}

.space {
  background-color: #425fa2;
  height: 90px;
}
