.info {
  margin-left: 5%;
}

html {
  overflow-x: hidden;
}

h2 {
  color: whitesmoke;
  font-weight: bold;
}

h1 {
  color: whitesmoke;
}

strong {
  color: whitesmoke;
}

p {
  margin-left: 3%;
  color: whitesmoke;
  font-size: auto;
}

h4 {
  color: ghostwhite;
  text-decoration: underline;
}

h5 {
  color: whitesmoke;
  margin-left: 1%;
}

h6 {
  color: whitesmoke;
  margin-left: 2%;
}

ul {
  color: whitesmoke;
  margin-left: 5%;
  font-size: 20px;
}

.quote {
  font-style: italic;
}

.quote p {
  color: #fee600;
}
