.background {
  background-color: bisque;
  background-image: url(../img/placeholder/stockageRack.jpg);
  object-fit: cover;
  background-size: cover;
  height: 500px;
}

html {
  overflow-x: hidden;
}
.backgroundimg {
  background-image: url(../img/icon/rectangle2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.quote {
  font-style: italic;
}

.title {
  margin-left: 5%;
}

.param {
  font-size: 23px;
}

h2 {
  color: ghostwhite;
  background-image: url("../img/icon/rectangle2.svg");
  background-repeat: no-repeat;
  background-position: left 20%;
}

p {
  color: #fee600;
}

strong {
  color: orange;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
